asgiref==3.11.1
asttokens==3.0.1
certifi==2026.4.22
colorama==0.4.6
comm==0.2.3
debugpy==1.8.20
decorator==5.2.1
distlib==0.4.0
Django==6.0.4
executing==2.2.1
filelock==3.29.0
gunicorn==26.0.0
jupyter_core==5.9.1
matplotlib-inline==0.2.2
mysqlclient==2.2.8
nest-asyncio==1.6.0
numpy==2.4.6
packaging==26.1
parso==0.8.7
pipenv==2026.5.2
platformdirs==4.9.6
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
Pygments==2.20.0
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-discovery==1.2.2
pyzmq==27.1.0
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
tornado==6.5.5
traitlets==5.15.0
tzdata==2026.1
virtualenv==21.2.4
wcwidth==0.7.0
whitenoise==6.12.0
