{% extends "base.html" %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">

<div class="container py-5">

<div class="edit-card">

<h2>Edit Profile</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="text-center mb-4">

<img
id="preview"
src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'images/default-user.png' %}{% endif %}"
class="profile-img">

</div>

{{ form.as_p }}

<button class="btn btn-primary w-100">

Save Changes

</button>

</form>

</div>

</div>

<script src="{% static 'accounts/js/accounts.js' %}"></script>

{% endblock %}