{% extends "base.html" %}

{% block title %}Course Certificate{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">

            <h1 class="text-success">
                🎉 Congratulations!
            </h1>

            <hr>

            <h3>
                Certificate of Completion
            </h3>

            <p class="mt-4">
                This certifies that
            </p>

            <h2>
                {{ request.user.get_full_name|default:request.user.username }}
            </h2>

            <p>
                has successfully completed
            </p>

            <h3 class="text-primary">
                {{ course.title }}
            </h3>

            <p>
                Progress: {{ progress.progress }}%
            </p>

            <p>
                Completed on:
                {{ enrollment.enrolled_at|date:"F d, Y" }}
            </p>

            <div class="mt-4">

    <a href="{% url 'courses:download_certificate' course.pk %}"
       class="btn btn-success">
        📄 Download PDF
    </a>

    <a href="{% url 'courses:course_detail' course.pk %}"
       class="btn btn-primary">
        Back to Course
    </a>

</div>

        </div>



    </div>

</div>

{% endblock %}