{% extends "base.html" %}
{% load static %}

{% block title %}Courses{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">All Courses</h2>

    <!-- Search Form -->
    <form method="GET" class="row g-3 mb-4">

    <div class="col-md-6">
        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search courses..."
            value="{{ query }}">
    </div>

    <div class="col-md-4">
        <select name="level" class="form-select">

            <option value="">All Levels</option>

            <option value="beginner"
                {% if level == "beginner" %}selected{% endif %}>
                Beginner
            </option>

            <option value="intermediate"
                {% if level == "intermediate" %}selected{% endif %}>
                Intermediate
            </option>

            <option value="advanced"
                {% if level == "advanced" %}selected{% endif %}>
                Advanced
            </option>

        </select>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100">
            Search
        </button>
    </div>

</form>

    {% if not courses %}
        <div class="alert alert-warning">
            No courses found.
        </div>
    {% endif %}

    <div class="row">

        {% for course in courses %}

        <div class="col-md-4">

            <div class="card mb-4 shadow">

                {% if course.thumbnail %}
                    <img
                        src="{{ course.thumbnail.url }}"
                        class="card-img-top"
                        style="height:220px; object-fit:cover;"
                        alt="{{ course.title }}">
                {% else %}
                    <img
                        src="{% static 'images/default-course.png' %}"
                        class="card-img-top"
                        style="height:220px; object-fit:cover;"
                        alt="No Image">
                {% endif %}

                <div class="card-body">

                    <h4>{{ course.title }}</h4>

                    <p>{{ course.description|truncatewords:20 }}</p>

                    <a href="{% url 'courses:course_detail' course.pk %}"
                       class="btn btn-primary">
                        View Course
                    </a>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}