{% extends "base.html" %}
{% load static %}

{% block title %}Courses{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">All Courses</h2>

    <div class="alert alert-info">
    <strong>Total Courses:</strong> {{ total_courses }}
</div>

    <!-- Search Form -->
    <form method="GET" class="row g-3 mb-4">

    <div class="col-md-3">
        <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search..."
            value="{{ query }}">
    </div>

    <div class="col-md-2">
        <select name="level" class="form-select">
            <option value="">All Levels</option>
            <option value="beginner" {% if level == "beginner" %}selected{% endif %}>Beginner</option>
            <option value="intermediate" {% if level == "intermediate" %}selected{% endif %}>Intermediate</option>
            <option value="advanced" {% if level == "advanced" %}selected{% endif %}>Advanced</option>
        </select>
    </div>

    <div class="col-md-2">
        <select name="status" class="form-select">
            <option value="">All Status</option>
            <option value="draft" {% if status == "draft" %}selected{% endif %}>Draft</option>
            <option value="published" {% if status == "published" %}selected{% endif %}>Published</option>
        </select>
    </div>

    <div class="col-md-3">
        <select name="sort" class="form-select">

            <option value="">Newest First</option>

            <option value="oldest"
                {% if sort == "oldest" %}selected{% endif %}>
                Oldest First
            </option>

            <option value="title"
                {% if sort == "title" %}selected{% endif %}>
                Title (A-Z)
            </option>

            <option value="price_low"
                {% if sort == "price_low" %}selected{% endif %}>
                Price: Low to High
            </option>

            <option value="price_high"
                {% if sort == "price_high" %}selected{% endif %}>
                Price: High to Low
            </option>

        </select>
    </div>

    <div class="col-md-2">
        <button class="btn btn-primary w-100">
            Apply
        </button>
    </div>

</form>

    {% if not courses %}
        <div class="alert alert-warning">
            No courses found.
        </div>
    {% endif %}

    <div class="row">

        {% for course in courses %}

        <div class="col-md-4">

            <div class="card mb-4 shadow">

                {% if course.thumbnail %}
                    <img
                        src="{{ course.thumbnail.url }}"
                        class="card-img-top"
                        style="height:220px; object-fit:cover;"
                        alt="{{ course.title }}">
                {% else %}
                    <img
                        src="{% static 'images/default-course.png' %}"
                        class="card-img-top"
                        style="height:220px; object-fit:cover;"
                        alt="No Image">
                {% endif %}

                <div class="card-body">

                    <h4>{{ course.title }}</h4>

                    <p>{{ course.description|truncatewords:20 }}</p>

                    <a href="{% url 'courses:course_detail' course.pk %}"
                       class="btn btn-primary">
                        View Course
                    </a>

                </div>

            </div>

        </div>


        <nav class="mt-4">

    <ul class="pagination justify-content-center">

        {% if courses.has_previous %}

        <li class="page-item">

            <a class="page-link"
               href="?page={{ courses.previous_page_number }}&q={{ query }}&level={{ level }}&status={{ status }}&sort={{ sort }}">
                Previous
            </a>

        </li>

        {% endif %}

        <li class="page-item active">

            <span class="page-link">

                {{ courses.number }}

            </span>

        </li>

        {% if courses.has_next %}

        <li class="page-item">

            <a class="page-link"
               href="?page={{ courses.next_page_number }}&q={{ query }}&level={{ level }}&status={{ status }}&sort={{ sort }}">
                Next
            </a>

        </li>

        {% endif %}

    </ul>

</nav>



        {% endfor %}

    </div>

</div>

{% endblock %}