{% extends "base.html" %}

{% load course_extras %}

{% block title %}My Courses{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">
        My Learning
    </h2>


    <div class="row mb-4">

    <div class="col-md-4">

        <div class="card border-primary shadow-sm">

            <div class="card-body text-center">

                <h5>Enrolled Courses</h5>

                <h2>{{ total_courses }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card border-success shadow-sm">

            <div class="card-body text-center">

                <h5>Completed</h5>

                <h2>{{ completed_courses }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card border-warning shadow-sm">

            <div class="card-body text-center">

                <h5>Average Progress</h5>

                <h2>{{ average_progress }}%</h2>

            </div>

        </div>

    </div>

</div>





    {% if enrollments %}

        {% for enrollment in enrollments %}

        <div class="card mb-4 shadow">

            <div class="card-body">

                <h4>
                    {{ enrollment.course.title }}
                </h4>

                <p>
                    {{ enrollment.course.description|truncatewords:20 }}
                </p>

                {% with progress=progress_map|get_item:enrollment.course.id %}

                    {% if progress %}

                    <div class="progress mb-3">

                        <div
                            class="progress-bar bg-success"
                            style="width: {{ progress.progress }}%;">

                            {{ progress.progress }}%

                        </div>

                    </div>

                    {% else %}

                    <div class="progress mb-3">

                        <div
                            class="progress-bar"
                            style="width:0%;">

                            0%

                        </div>

                    </div>

                    {% endif %}

                {% endwith %}

                <a
                    href="{% url 'courses:course_detail' enrollment.course.pk %}"
                    class="btn btn-primary">

                    Continue Learning

                </a>

            </div>

        </div>

        {% endfor %}

    {% else %}

        <div class="alert alert-info">

            You haven't enrolled in any courses yet.

        </div>

    {% endif %}

</div>

{% endblock %} 