<ul class="navbar-nav ms-auto">

    {% if user.is_authenticated %}

    {% comment %} <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:home' %}">
            Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:profile' %}">
            Profile
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">
            Logout
        </a>
    </li> {% endcomment %}

    {% include "includes/sidebar.html" %}

    {% else %}

    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">
            Login
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:register' %}">
            Register
        </a>
    </li>
    <li class="nav-item">
    <a class="nav-link"
       href="{% url 'courses:my_courses' %}">
        My Courses
    </a>
</li>

<li class="nav-item">

<a class="nav-link"
href="{% url 'certificates:certificate_list' %}">

My Certificates

</a>

</li>

    {% endif %}

</ul>