{% load static %}


<button class="sidebar-toggle" id="sidebarToggle">
<i class="fas fa-bars"></i>
</button>



<aside class="sidebar" id="sidebar">


<div class="sidebar-logo-box">


<img src="{% static 'images/logo.png' %}"
class="sidebar-logo">


<h3>
Online Tutor
</h3>


</div>



{% if user.is_authenticated %}

{% comment %} 
<div class="sidebar-user">


{% if user.profile_picture %}

<img src="{{user.profile_picture.url}}"
class="profile-image">

{% else %}

<img src="{% static 'images/default-user.png' %}"
class="profile-image">

{% endif %}



<h5>
{{user.username}}
</h5>


<span>
{{user.role|title}}
</span>


</div> {% endcomment %}


{% endif %}





<ul class="sidebar-menu">


<li>
<a href="{% url 'dashboard:home' %}">
<i class="fa fa-home"></i>
Dashboard
</a>
</li>



<li>
<a href="{% url 'courses:course_list' %}">
<i class="fa fa-book"></i>
Courses
</a>
</li>



<li>
<a href="{% url 'courses:my_courses' %}">
<i class="fa fa-graduation-cap"></i>
My Courses
</a>
</li>



<li>
<a href="{% url 'certificates:certificate_list' %}">
<i class="fa fa-certificate"></i>
Certificates
</a>
</li>



<li>
<a href="{% url 'accounts:profile' %}">
<i class="fa fa-user"></i>
Profile
</a>
</li>



<li>
<a href="{% url 'accounts:logout' %}">
<i class="fa fa-sign-out"></i>
Logout
</a>
</li>



</ul>



</aside>