{% extends "base.html" %}


{% block content %}

<div class="container mt-5">

    <div class="card shadow p-5 text-center">

        <h1 class="text-success">
            Certificate Verified
        </h1>


        <hr>


        <h3>
            {{ certificate.student.get_full_name }}
        </h3>


        <p>
            has successfully completed
        </p>


        <h4>
            {{ certificate.course.title }}
        </h4>


        <br>


        <p>
            Certificate Number:
            <strong>
                {{ certificate.certificate_number }}
            </strong>
        </p>


        <p>
            Issued:
            {{ certificate.issued_at|date:"F d, Y" }}
        </p>


        <div class="alert alert-success">

            ✓ This certificate is authentic

        </div>


    </div>

</div>


{% endblock %}