{% extends "base.html" %}


{% block content %}

<div class="container mt-5">

    <div class="card shadow">

        <div class="card-body text-center">


            <h1 class="text-success">
                Certificate Verified ✓
            </h1>


            <hr>


            <h3>
                {{ certificate.student.get_full_name }}
            </h3>


            <p>
                has successfully completed
            </p>


            <h4>
                {{ certificate.course.title }}
            </h4>


            <br>


            <p>
                Certificate Number:
                <strong>
                    {{ certificate.certificate_number }}
                </strong>
            </p>


            <p>
                Issued Date:
                {{ certificate.issued_at|date:"F d, Y" }}
            </p>


            <p>
                Certificate ID:
                {{ certificate.certificate_id }}
            </p>


        </div>

    </div>

</div>


{% endblock %}