body{

font-family:Poppins,Arial,sans-serif;

background:#f5f7fb;

margin:0;


}



.card{

border:none;

border-radius:20px;

}



footer{

margin-left:270px;

}



@media(max-width:768px){


footer{

margin-left:0;

}


}